body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: bisque;
    padding-left: 350px;
}

.css-3d-text {
    font-size: 30px;
    color: #e0a800;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0px 0px 0 rgb(219,163,0),
                 1px 1px 0 rgb(214,158,0),
                 2px 2px 0 rgb(209,153,0),
                 3px 3px 0 rgb(204,148,0),
                 4px 4px 0 rgb(199,143,0),
                 5px 5px 0 rgb(194,138,0),
                 6px 6px 0 rgb(189,133,0),
                 7px 7px 0 rgb(184,128,0),
                 8px 8px 0 rgb(179,123,0),
                 9px 9px 0 rgb(174,118,0),
                 10px 10px  0 rgb(169,113,0),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
 }

table {
    width: 800px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.cont{
    box-shadow: 3px 3px 2px 0px rgba(128, 0, 0, 1),-3px 0px 9px 8px rgba(128, 102, 94, 1);
    width: 800px;
    padding: 10px ; 
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
li:hover{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: bisque; 
}